@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-nunito: 'Nunito', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --light-lavender: #efebff;

  --light-purple: #eee9ff;
  --purple: #745cf3;
  --dark-purple: #3d308c;

  --black-blue: #1e1f23;
  --grey-blue: #757296;
  --dark-blue: #272750;

  --light-cyan: #e5f8fc;
  --cyan: #45ccfe;

  --light-yellow: #fdf6ea;
  --yellow: #fdc85d;

  --light-green: #e0f6ea;
  --green: #5dfd9d;

  --light-red: #ffdfe5;
  --red: #fd5d82;

  --error: #ffb6c3;
  --success: #c1ffc4;
  --info: #b4deff;

  --card-box-opacity-1: 0px 5px 15px 3px rgba(61, 48, 140, 0.1);

  --purple-opacity-3: rgba(116, 92, 243, .3);
  --purple-opacity-6: rgba(116, 92, 243, .6);
}
