@import 'variables';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	&:focus {
		outline: none;
	}
}

html {
	min-height: 100vh;
}

body {
	min-height: 100%;
	min-width: 375px;
	width: 100%;

	background-color: var(--light-grey);
	background: radial-gradient(circle at 20% 20%, rgb(229, 248, 252) 5%, transparent 20%),
				radial-gradient(circle at 40% 20%, rgb(253, 246, 234) 5%, transparent 20%),
				radial-gradient(circle at 20% 40%, rgb(238, 233, 255) 5%, transparent 20%),
				radial-gradient(circle at 60% 80%, rgb(255, 223, 229) 5%, transparent 20%),
				radial-gradient(circle at 80% 60%, rgb(239, 235, 255) 5%, transparent 20%),
				radial-gradient(circle at 80% 80%, rgb(224, 246, 234) 5%, transparent 20%);
	background-attachment: fixed;

	color: var(--grey-blue);

	font-family: var(--font-roboto);
	font-weight: 400;
	font-size: 14px;
	word-wrap: break-word;

	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-nunito);
	color: var(--dark-blue);
}

input, button {
	font-size: inherit;

	background-color: transparent;
	color: inherit;

	border: 1px solid transparent;
	border-radius: 5px;

	transition: border-color .15s ease;
}

button {
	height: 40px;

	font-weight: bold;

	cursor: pointer;
}

a {
	text-decoration: none;

	color: inherit;
}

button, a {
	transition: background-color .4s ease, color .4s ease;
}