@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --font-nunito: 'Nunito', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --blue: #006aff;
  --dark-blue: #1952cc;

  --light-grey: #eaeaea;
  --dark-grey: #232426;

  --white-opacity-2: rgba(255, 255, 255, .2);
  --white-opacity-3: rgba(255, 255, 255, .3);
}
